@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #007bff;
    --color-primary-foreground: #ffffff;
    --color-primary-dark: #0056b3;
    --color-primary-light: #66b2ff;
    --color-secondary: #6c757d;
    --color-secondary-foreground: #ffffff;
    --color-secondary-dark: #5a6268;
    --color-secondary-light: #adb5bd;
    --color-background: #f8f9fa;
    --color-background-foreground: #343a40;
    --color-danger: #dc3545;
    --color-danger-foreground: #ffffff;
    --color-danger-dark: #c82333;
    --color-danger-light: #f5c6cb;
    --color-success: #28a745;
    --color-success-foreground: #ffffff;
    --color-success-dark: #218838;
    --color-success-light: #c3e6cb;
    --color-warning: #ffc107;
    --color-warning-foreground: #212529;
    --color-warning-dark: #e0a800;
    --color-warning-light: #ffeeba;
    --color-info: #17a2b8;
    --color-info-foreground: #ffffff;
    --color-info-dark: #138496;
    --color-info-light: #d1ecf1;
}

@layer components {
    .btn-primary {
        @apply hover:cursor-pointer bg-primary text-primary-foreground hover:bg-primary-dark focus:ring-4 focus:ring-primary-light transition-colors duration-200 transform hover:scale-100;
    }

    .btn-secondary {
        @apply hover:cursor-pointer bg-secondary text-secondary-foreground hover:bg-secondary-dark focus:ring-4 focus:ring-secondary-light transition-colors duration-200 transform hover:scale-100;
    }

    .btn-danger {
        @apply hover:cursor-pointer bg-danger text-danger-foreground hover:bg-danger-dark focus:ring-4 focus:ring-danger-light transition-colors duration-200 transform hover:scale-100;
    }

    .btn-success {
        @apply hover:cursor-pointer bg-success text-success-foreground hover:bg-success-dark focus:ring-4 focus:ring-success-light transition-colors duration-200 transform hover:scale-100;
    }

    .btn-warning {
        @apply hover:cursor-pointer bg-warning text-warning-foreground hover:bg-warning-dark focus:ring-4 focus:ring-warning-light transition-colors duration-200 transform hover:scale-100;
    }

    .btn-info {
        @apply hover:cursor-pointer bg-info text-info-foreground hover:bg-info-dark focus:ring-4 focus:ring-info-light transition-colors duration-200 transform hover:scale-100;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-20000px);
        rotate: 100deg;
        opacity: 0;
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s;
}

.animate-fade-out {
    animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
    
.modal {
    background-color: #03000093;
    @apply fixed inset-0 py-10 z-10 h-full overflow-auto;
}